@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
  font-family: "Playfair Display";
}
 header p{
  font-family: "Raleway";
 }

 nav form button{
  border-radius: 50px;
 }

 .nosotros{
      background-image: url(https://images.unsplash.com/photo-1687586370626-f8c6c7b24f40?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin-top: 10px;
 }

 .contacto{
      background-image: url(https://hyperstudio.es/_next/image?url=https%3A%2F%2Fadmin.hyperstudio.es%2Fapp%2Fuploads%2F2024%2F10%2Flcdlc-ep1-h.jpg&w=3840&q=75);
      background-size: cover;
      background-position: center;
      height: 100vh;
      margin-top: 10px;
 }

 h1{
  font-family: "Raleway";
 }

 h2{
  font-family: "Raleway";
 }